@model List<FoodMenu.Models.Dish>
@{
    ViewData["Title"] = "Menu";
}

<div class="container">
    <div class="row">
        @foreach(var item in Model)
        {
            <div class="col-6">
                <div class="d-flex justify-content-center mb-2">
                    <h4>@item.Name</h4>
                </div>
                <div class="d-flex justify-content-center mb-2">
                    <img src="@item.ImageUrl" style="width: 70%" />
                </div>
                <div class="d-flex justify-content-center mb-2">
                    @item.Price.ToString("N2") Euros
                </div>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">View Dish</a>
                </div>
            </div>
        }
    </div>
</div>